*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    box-sizing: border-box;

}

.main-div{
    max-width: 1400px;
    margin: 0 auto  
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}
nav img{
    height: 40px;
}
.nav-items{
 display: flex;
 gap: 30px;
 font-size: 20px;
 color: #1F2873;
 cursor: pointer;
}
.signin-btn{
    background-image:linear-gradient(to right, #965CF2 , #FC89DD);
    border: none;
    border-radius: 50px;
    padding:5px 20px;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 15px;
}
/* Nav End */
/* Hero section start */
.intro-section{
    display: flex;
    max-height: 800px;
}
.left-section{
    flex: 0.5;
    margin-top:auto ;
    margin-bottom: auto;
}
.left-section h1{
    color: #3E4794;
    font-size: 80px
}
.left-section h4{
    margin: 70px 0;
    line-height: 2;
    font-weight: 100;
    max-width: 300px;
}
.imgs-div{
    flex: 0.5;
}
.vector-img{
    position: absolute;
    top: 80%;
}
.vector-dot{
    position: absolute;
    width: 100%;
    transform: translate(6%, -40%) rotate(178deg) scale(1.2);
    z-index: -1;
}
.learn-more-btn{
    border: none;
    background-image: linear-gradient(to right, #965CF2 , #FC89DD);
    font-size: 30px;
    color: #fff;
    padding: 15px 30px;
    border-radius: 50px;

}

@media screen and (max-width:900px) {
    body{
        overflow: visible;
    }
    nav{
        margin: 0 10px;
    }
    .nav-items{
        display: none;
      }
      .intro-section{
        flex-direction: column;
      }
      .vector-img{
        display: none;
      }
      .left-section{
        flex: 1;
        text-align: center;
        margin-top: 30px;
      }
      .imgs-div{
        margin-top: 50px;
        flex: 1;
      }
      .left-section h4{
        margin:20px auto;
      }
      .vector-dot{
        display: none;
      }
      .hero_section{
        width: 100%;
      }
      .left-section h1{
        font-size: 40px;
      }
      .learn-more-btn{
        padding: 5px 15px;
        font-size: 15px;
      }
}